<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Budgtr</title>
</head>

<body>
<h1>Budgtr</h1>
<table>
    <!-- create a foor loop to display budget data -->
    <% for (let i = 0; i < allBudget.length; i++) {%>
    <tr>
        <!-- each row needs three data cells to seperate the info -->
        <td>
            <%= allBudget[i].date%>  
        </td>
        <td>
            <!-- links to show page for each item -->
            <a href="/budgets/<%=i%>"><%=allBudget[i].name %></a>
        </td>
        <td>
            <%=allBudget[i].amount %>
        </td>
    </tr>
    <% } %>
</table>
<form action="/budgets/new">
    <button>Add New</button>
</form>
</body>

</html>